.post {

    border-bottom       : 0;
    position            : relative;
    min-height          : 355px;
    padding-bottom      : 30px;
}

.post p {

    font-family         : 'Roboto', sans-serif;

}

.post:last-of-type {

    margin-bottom       : 0;
    padding-bottom      : 20px;

}

.post-content {

    margin-left         : 80px;
    font-family         : sans-serif;

}

@media only screen and (max-width: 520px) {

    .post-content {

        margin-left         : 50px;
        font-family         : sans-serif;

    }

}

.post-text {

    float               : left;

}

.post .post-image {

    float               : left;
    max-width           : 40%;
    margin              : 0 20px 20px 0;

}

.post .post-image--right {

    float               : right;
    margin              : 0 0 20px 20px;

}

.post h2.post-title a {

    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    color               : #393029;

}

@media only screen and (max-width: 520px) {

    .post h2.post-title a {

        line-height         : 1.2;
        font-size           : 30px;

    }

}

.post h2.post-title {

    margin-bottom       : 0;

}

.post h2.post-title a:hover {

    opacity             : .9;

}

.post-info {

    margin-bottom       : 0;

}

.post-info .post-posted {

    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    text-transform      : uppercase;
    color               : #393029;

}

@media only screen and (max-width: 520px) {

    .post-info .post-posted {

        font-size           : 14px;

    }

}

.post-icon {

    float               : left;
    width               : 55px;
    margin-top          : 15px;

}

@media only screen and (max-width: 520px) {

    .post-icon {

        float               : left;
        width               : 35px;
        margin-top          : 7px;

    }

}

.read-more {

    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    text-transform      : uppercase;
    color               : #393029;

}

.pagination {

    margin-bottom       : 30px;

}

.counter {

    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    text-transform      : uppercase;
    color               : #393029;

}

.back-button {

    background-color    : #ffffff;
    margin-top          : 20px;
    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    text-transform      : uppercase;
    color               : #393029;

}

.addthis_inline_share_toolbox {

    float               : left;
    width               : 55px;
    text-align          : center;
    position            : absolute;
    top                 : 114px;

}

@media only screen and (max-width: 520px) {

    .addthis_inline_share_toolbox {

        float               : left;
        width               : 35px;
        text-align          : center;
        position            : absolute;
        top                 : 88px;
        margin-left         : -5px;

    }

}